
.header {
    width:100%;
    font-family: Work Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #74c69d;
    color: white;
    position: sticky;
    padding: 20px;
}

.nav {
display: flex;
justify-content: space-around;
padding: 10px;
}

.menudesktop {
display: flex;
padding: 0;
gap: 15px;
}

.itemlist {
display: inline-block;
padding: 0;
gap: 15px;
}
    
.hamburger {
    display: flex;
}

.logos {
    display: flex;
}

.iconheader {
    margin: 0 px;
}

.menuicon {
    width: 30px;
    display: flex;
    margin-right: 30px;
    fill: white;
}

.fa-bars {
    font-size: 30px;
}

/* Media queries */

/* Tablet Desktop */
@media (min-width: 768px) {
.hamburger {
    display: none;
.desktop {
    display: none;
}

}
}

@media (max-width: 480px) {
    .nav {
        display: none;
    }
    }