
.header {
    width:100%;
    font-family: Work Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #74c69d;
    color: white;
    position: sticky;
    margin: 20;
}

.logos {
    display: flex;
}

.iconheader {
    margin: 0 px;
}

.menuicon {
    width: 30px;
    display: flex;
    margin-right: 30px;
    fill: white;
}