

.container-section-2 {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 40px;

    @media (min-width: 768px) {
            flex-direction: row-reverse;
            justify-content: space-between; 
        }

    @media (min-width: 1024px) {
            flex-direction: row-reverse;
            justify-content: space-between; 
        }
 }



.box-image-chico {
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
   
}


.chico-img {
    width: 100%;   
}


.box-textos-section-2 {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
    gap: 20px;

    @media (min-width: 768px) {
            width: 400px;  
        }


    @media (min-width: 1024px) {
             width: 100%; 
        }
}


.titulo-section-2 {
    font-family: "Crimson Text", serif;
    font-weight: bold;
    font-size: 24px;
    text-align: left;

    @media (min-width: 1024px) {
            font-size: 38px;
            width: 600px;
        }  
}



.texto-section-2 {
    font-family: "Work Sans", serif;
    font-weight: regular;
    font-size: 15px;
    color: #21252980;
    text-align: left;  
}


.ver {
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    font-family: work sans;
    font-size: 20px;
}
