<footer class="footer">
    <ul class="footer_list">
    <li class="footer_item"><i class="fa-brands fa-facebook-f"></i></li>    
    <li class="footer_item"><i class="fa-brands fa-instagram"></i></li>
    <li class="footer_item"><i class="fa-brands fa-twitter"></i> </li> 
    <li class="footer_item"><i class="fa-brands fa-pinterest-p"></i></li>
    <li class="footer_item"><i class="fa-brands fa-youtube"></i></li>
    </ul>
    <div class="footer-text">
        © Adatech, 2025
    </div>
</footer>