 <!-- /* Este es el header: Mafe  -->
<section class="header-container">
    <header class="header">
    <div class="logos"><img class= iconheader src="./images/iconoheader.svg">
        <h1 class="title">Adatech</h1></div>
           <div class="hamburger"> <i class="fa-solid fa-bars"></i></div> 

        <nav class="nav">
            <ul class="menudesktop">
            <li class="itemlist">
Home
            </li>
            <li>
                Servicios
            </li>
            <li>
                Nosotros
            </li>
            <li> <a href="./contact.html">Contacto</a>
            </li>
        </ul>
    </nav>
</header></section>