



<section class="hero-container">
       
    <div class="hero-img">
        <img class="img1" src="./images/1.svg" alt="">
     </div>
    

    <div class="hero">
        
            <h1 class="hero-text1">WELCOME</h1>
            <h2 class="hero-text2">Lorem, ipsum dolor sit amet consectetur</h2>
            <p class="hero-text3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque at. sed quidem. Voluptas beatae reprehenderit necessitatibus ex sint?</p>

    <div>
        <div class="boton">
            <p>Explora</p>
            <p>Explora2</p>
    </div>

</section>