<section class="hero-container">
       
    <div class="hero-img">
        <img class="img1" src="../images/1.svg" alt="">
     </div>
    

    <div class="hero-text">
        
            <h1 class="hero-text1">WELCOME</h1>
            <h2 class="hero-text2">Lorem, ipsum dolor sit amet consectetur</h2>
            <p class="hero-text3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, dolorum! Odit a culpa debitis minus, cupiditate eaque perferendis excepturi dolor dicta perspiciatis iusto suscipit temporibus! Voluptatibus nemo facere pariatur? Earum.</p>
            <div class="boton">
                <p>Explora</p>
            </div>

    </div>

</section>