<section>
    <div class="group">
        <img class="img-group" src="./images/group.svg" alt="Grupo de chicas">
    </div>
</section>

<section class="group-section">
    <span class="title-group">
        <h1>
            Lorem ipsum dolor sit amet consectetur
        </h1>
    </span>
</section>
<section>
        <span class="parrafo-group">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam nobis cum est eos error ipsum, voluptate culpa nesciunt delectus iste?
    </span>
    <span class="rectangle">
        <a class="see-more"href="">Ver más</a>
    </span>
</section>