<section class="container-section-2">
    <div class="box-image-chico">
        <img class="chico-img" src="../images/3.svg" alt="chico-nube">
    </div>
    <div class="box-textos-section-2">
        <h3 class="titulo-section-2">Seguridad Digital y Gestión en la Nube.</h3>
        <p class="texto-section-2">En un mundo cada vez más digitalizado, la seguridad de nuestros datos es esencial, especialmente al trabajar de forma remota. Esta imagen ilustra la importancia de la ciberseguridad en el entorno laboral desde cualquier lugar, donde cada icono representa aspectos clave como el inicio de sesión seguro, el almacenamiento de datos en la nube y la gestión de sistemas. A medida que adoptamos nuevas tecnologías y prácticas de trabajo, es fundamental asegurarnos de que nuestras acciones en línea sean seguras y protegidas. La protección digital no es solo una prioridad, es una responsabilidad compartida por todos.</p>
        <a class="ver" href="#">Ver más</a>
        </div>
</section>

