<section class="team-container">

    <h1 class="team-title">Nuestro equipo</h1>

    <div class="team-members">

        <div class="CEO">
            <img class="CEO-img" src="/images/d.svg" alt="dibujo retrato">
            <div class="CEO-text">
                <h2 class="CEO-name">Peg Legge</h2>
                <p class="CEO-position">CEO</p>
            </div>
        </div>

        <div class="designer">
            <img class="designer-img" src="/images/b.svg" alt="dibujo retrato">
            <div class="designer-text">
                <h2 class="designer-name">Alexandra Stolz</h2>
                <p class="designer-position">DESIGNER</p>
            </div>
        </div>

        <div class="CTO">
            <img class="CTO-img" src="/images/d.svg" alt="dibujo retrato">
            <div class="CTO-text">
                <h2 class="CTO-name">Susan Li</h2>
                <p class="CTO-position">CTO</p>
            </div>
        </div>

        <div class="developer">
            <img class="developer-img" src="/images/c.svg" alt="dibujo retrato">
            <div class="developer-text">
                <h2 class="developer-name">Janet Bray</h2>
                <p class="developer-position">DEVELOPER</p>
            </div>
        </div>

    </div>

</section>