<section class="container-section-2">
    <div class="box-image-chico">
        <img class="chico-img" src="./images/3.svg" alt="chico-nube">
    </div>
    <div class="box-textos-section-2">
        <h3 class="titulo-section-2">Lorem ipsum dolor sit amet consectetur</h3>
        <p class="texto-section-2" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam nobis cum est eos error ipsum, voluptate culpa nesciunt delectus iste?</p>
        <a class="ver" href="#">Ver más</a>
        </div>
    </div>
</section>


