<section class="sect1">
    <div class="group">
        <img class="imgchicas" src="../images/group.svg" alt="chicas" />
    </div>
    <div class="tittle">
        <h1>
            Innovación y creatividad en la nube
        </h1>
        <p class="parrafo-group">Impulsa el trabajo en equipo con herramientas colaborativas seguras. Comparte ideas,
            construye proyectos y potencia tu creatividad con una plataforma en la nube que hace que la colaboración sea
            más intuitiva y efectiva.</p>
        <button class="rectangle">
            <a class="see-more" href="#">Ver más</a>
        </button>
    </div>

</section>