<section class="container-section-2">
    <div class="box-image-chico">
        <img class="chico-img" src="/images/3.svg" alt="chico-nube">
    </div>
    <div class="box-texts-section-2">
        <h3 class="title-section-2">Seguridad Digital y Gestión en la Nube.</h3>
        <p class="text-section-2">En un mundo cada vez más digitalizado, la seguridad de nuestros datos es esencial. El almacenamiento en la nube proporciona acceso rápido y seguro a información personal y profesional, protegiendo datos sensibles con cifrado y controles de acceso. Además de facilitar la organización, la nube se convierte en una solución integral para la gestión de documentos y herramientas esenciales, haciendo que la seguridad digital sea una prioridad en la era de la información.</p>
        <a class="ver" href="#">Ver más</a>
        </div>
</section>

