<section class="sect1">
    <div class="group"> 
        <img class="imgchicas" src="../images/group.svg" alt="chicas"/>
    </div>
    <span class="title-group">
        <h1>
            Lorem ipsum dolor sit amet consectetur
        </h1>
    </span>
    <span>
        <p class="parrafo-group">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nemo hic quos, ab, dolor aperiam nobis cum est eos error ipsum, voluptate culpa nesciunt delectus iste?</p>
</span>
<span class="rectangle">
    <a class="see-more" href="#">Ver más</a>
</span>
</section>