<!-- /* Esta es la seccion 2: Irma  -->*/

.container-section-2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

.container-image-chico {
    width: 70%;
}

.container-textos-section-2 {
    display: flex;
    flex-direction: column;

}

<!-- /* Este es el header: Mafe  -->*/

.header {
    width:100%;
    font-family: Work Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #74c69d;
    color: white;
    position: sticky;
    margin: 20;
}

.logos {
    display: flex;
}

.iconheader {
    margin: 0 px;
}

.menuicon {
    width: 30px;
    display: flex;
    margin-right: 30px;
    fill: white;
}

/*Seccion de Andrea*/

.group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.title-group {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.fa-solid fa-bars {
    font-size: 18px;
}

/* Esta es el hero: Lau  */

.hero-img {
    background-color: #74c69d;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
   
}

.img1 {
    width: 100%;
    
}

.hero {
    background-color: rgb(115, 198, 156);
}

.text {

}

.hero-text1 {
    color: white;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.hero-text2 {

}

.hero-text3 {

}

.boton {

}


/* Media queries */

/* Mobile */
@media (min-width: 480px) {
    .containter-images {
    display: flex;
    }    
}