/* Esta es el hero: Lau  */

.hero-img {
    background-color: rgb(115, 198, 156);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
   
}

.img1 {
    width: 100%;
    
}

.hero {
    background-color: rgb(115, 198, 156);
}

.text {

}

.hero-text1 {
    color: white;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.hero-text2 {

}

.hero-text3 {

}

.boton {

}




